<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
<style>
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');


:root {
    --width: 720px;
    --font-main: 'Press Start 2P', cursive;
    --font-secondary: 'Fira Code', sans-serif;
    --font-scale: 1em;
    --page-background: #f7b1cb;
    --background-color: #fffef5;
    --heading-color: #cb416b;
    --text-color: #1C1416;
    --link-color: #1C1416;
    --visited-color: #1C1416;
    --code-background-color: #93a6ff;
    --code-color: #222;
    --blockquote-color: #1C1416;
}

html {
  	background-size: cover;
    background-color: var(--page-background);
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 0px;
    max-width: var(--width);
    width: 95vw;
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
    text-shadow: 1px 2px 0px #FFD3E1;
}

a {
  	color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
    text-shadow: 1px 2px 0px #FFD3E1;
}

a:hover {
    text-decoration: none;
  	color: var(--link-color);
    text-shadow: none;
}


header,
footer {
  position: relative;
  background-image: linear-gradient(#fde8f0, #fef1f3);
  background-size: cover;
  padding: 4px;
  background-clip: padding-box;
  border: 2px solid transparent;
  box-shadow:
    0 0 0 1px var(--page-background),
    0 0 0 4px #fff,
    0 0 0 5px var(--page-background);
  overflow: hidden;
}

header {
    text-align: center;
    padding: 20px 25px;
}

main {
    padding: 40px;
}

nav a {
    margin-right: 8px;
}

nav a:last-child {
    margin-right: 0px;
}

main a {
  color: var(--heading-color);
  text-shadow: none;
}

button {
    margin: 0;
    cursor: pointer;
}

main {
    line-height: 1.6;
}

table {
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px dashed;
}

img {
    max-width: 100%;
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
}

blockquote {
    border-left: 1px solid var(--blockquote-color);
    color: var(--blockquote-color);
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px 0;
    text-align: center;
}

strong, b {
  color: var(--heading-color);
}

.title:hover {
    text-decoration: none;
}

.title h1 {
    font-size: 1.5em;
}

.inline {
    width: auto !important;
}

.highlight,
.code {
    padding: 1px 15px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
}

hr {
  border-color: var(--heading-color);
  margin: 30px;
}

/* blog post list */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
    color: var(--visited-color);
}
</style>
